@import "tailwindcss";
@import "@acme/tailwind-config/theme";

@import "tw-animate-css";

@import "@fontsource-variable/inter";
@import "@fontsource-variable/roboto-mono";
@import "@fontsource/cal-sans";

/* @sonar-ignore */
@source "../../../packages/ui/src/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));
/* @end */

@layer base {
  :root {
    --font-sans: "Inter Variable", sans-serif;
    --font-mono: "Roboto Mono Variable", monospace;
    --font-heading: "Cal Sans", sans-serif;
  }
  * {
    @apply border-border;
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/* @sonar-ignore */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
/* @end */

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: hsl(var(--border));
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rdp-vhidden {
  @apply hidden;
}

.react-activity-calendar__calendar {
  width: 100%;
  height: 100%;
}

.react-activity-calendar {
  width: 100% !important;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  @apply text-muted-foreground;
}
